.primary {
  color: white;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h3 {
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}